body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, white 50%, #F8C041 50%);
  padding: 40px;
  box-sizing: border-box;  
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  padding-left: 60%;
  padding-top: 14%;
}

label {
  font-weight: bold;
  font-style:italic;
  color: #2E3681;
}
input[type="text"],
input[type="password"] {
 border-radius: 25px;

            height: 50px;

            width: 80%;  

            margin-top: 10px;

            background-color: #ffffff;

            color: rgb(0, 0, 0);

            border: none;

            display: block;

            font-family: "Changa One", sans-serif;

            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

            cursor: pointer;

            font-size: larger;

}

.login-btn {

            background-color: #004080;

            color: white;

            padding: 2% 20%;

            border: none;

            border-radius: 25px;

            font-weight: bold;

            cursor: pointer;

            transition: background-color 0.3s;

            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

            margin: 1% auto;

            display: block;

            margin-left: 18%;

            font-family: Georgia, 'Times New Roman', Times, serif;

}

.login-btn:hover{
  background-color: #fafafa;
  color: #004080;
}
.forgot {
  color: #004080;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 31%;  

}
.forgot:hover{
  text-decoration:underline;
}
.mchl{
  margin-top: -40%;
  margin-left: 12%;
  width: 22%;
}
.Montessori{
margin-left:auto;
color: #004080;
font-size: large;
}

